#define ZMK_POINTING_DEFAULT_MOVE_VAL 900  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

/ {
    num: num {
        compatible = "zmk,behavior-hold-tap";
        label = "NUM";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63 53 54 55 56 57>;
        hold-trigger-on-release;
    };

    shift_L: shift_L {
        compatible = "zmk,behavior-hold-tap";
        label = "SHIFT_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63>;
        hold-trigger-on-release;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <175>;
    };

    shift_R: shift_R {
        compatible = "zmk,behavior-hold-tap";
        label = "SHIFT_R";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 13 14 15 16 17 18 26 27 28 29 30 31 41 42 43 44 39 40 2 3 4 5 53 54 55 56 57>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    symbol_L: symbol_L {
        compatible = "zmk,behavior-hold-tap";
        label = "SYMBOL_L";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 53 54 55 56 57 59 60 61 62 63>;
        hold-trigger-on-release;
    };

    symbol_R: symbol_R {
        compatible = "zmk,behavior-hold-tap";
        label = "SYMBOL_R";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-key-positions = <0 1 13 14 15 16 17 18 26 27 28 29 30 31 41 42 43 44 39 40 2 3 4 5 40 53 53 54 55 56 57 60 61 62 63 59>;
        hold-trigger-on-release;
    };

    ctrl_L: ctrl_L {
        compatible = "zmk,behavior-hold-tap";
        label = "CTRL_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63 53 54 55 56 57>;
        hold-trigger-on-release;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    ctrl_R: ctrl_R {
        compatible = "zmk,behavior-hold-tap";
        label = "CTRL_R";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 53 54 55 56 57 59 60 61 62 63>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    windows_manager: windows_manager {
        compatible = "zmk,behavior-hold-tap";
        label = "WINDOWS_MANAGER";
        bindings = <&mo>, <&comma_question>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        require-prior-idle-ms = <150>;
        quick-tap-ms = <175>;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44>;
        hold-trigger-on-release;
    };

    gui_L: gui_L {
        compatible = "zmk,behavior-hold-tap";
        label = "GUI_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        flavor = "balanced";
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 60 61 62 63 59>;
        hold-trigger-on-release;
    };

    gui_R: gui_R {
        compatible = "zmk,behavior-hold-tap";
        label = "GUI_R";
        bindings = <&kp>, <&key_repeat>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        flavor = "balanced";
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 53 54 55 56 57 59 60 61 62 63>;
    };

    comma_question: comma_question {
        compatible = "zmk,behavior-mod-morph";
        label = "COMMA_QUESTION";
        bindings = <&kp COMMA>, <&kp QUESTION>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    dot_exclamation: dot_exclamation {
        compatible = "zmk,behavior-mod-morph";
        label = "DOT_EXCLAMATION";
        bindings = <&kp DOT>, <&kp EXCL>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    minus_caret: minus_caret {
        compatible = "zmk,behavior-mod-morph";
        label = "MINUS_CARET";
        bindings = <&kp MINUS>, <&kp CARET>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    alt_L: alt_L {
        compatible = "zmk,behavior-hold-tap";
        label = "ALT_L";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63 53 54 55 56 57>;
        hold-trigger-on-release;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    alt_R: alt_R {
        compatible = "zmk,behavior-hold-tap";
        label = "ALT_R";
        bindings = <&kp>, <&dot_exclamation>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 53 54 55 56 57 59 60 61 62 63>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    nav: nav {
        compatible = "zmk,behavior-hold-tap";
        label = "NAV";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 53 54 55 56 57 59 60 61 62 63>;
        hold-trigger-on-release;
    };

    ctlSpace_F4: ctlSpace_F4 {
        compatible = "zmk,behavior-mod-morph";
        label = "CTLSPACE_F4";
        bindings = <&kp LC(SPACE)>, <&kp F4>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    CapsLock_F5: CapsLock_F5 {
        compatible = "zmk,behavior-mod-morph";
        label = "CAPSLOCK_F5";
        bindings = <&kp CAPSLOCK>, <&kp F5>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    applic_mouse: applic_mouse {
        compatible = "zmk,behavior-hold-tap";
        label = "APPLIC_MOUSE";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
        hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63 41>;
        hold-trigger-on-release;
    };

    alt_R2: alt_R2 {
        compatible = "zmk,behavior-hold-tap";
        label = "ALT_R2";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        hold-trigger-on-release;
        hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 53 54 55 56 57 59 60 61 62 63>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <150>;
    };

    ctrl_6: ctrl_6 {
        compatible = "zmk,behavior-tap-dance";
        label = "CTRL_6";
        #binding-cells = <0>;
        bindings = <&kp LCTRL>, <&kp LCTRL>, <&tog 6>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        shift_insert {
            bindings = <&kp LS(INSERT)>;
            key-positions = <2 3>;
        };

        ctrl_insert {
            bindings = <&kp LC(INSERT)>;
            key-positions = <3 4>;
        };

        Win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <48 49>;
            layers = <0>;
        };

        layer7_to_layer6 {
            bindings = <&tog 6>;
            key-positions = <53 54>;
            layers = <7>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <28 29>;
            layers = <7>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <30 29>;
            layers = <7>;
        };

        pgup {
            bindings = <&kp PAGE_UP>;
            key-positions = <16 17>;
            layers = <7>;
        };

        pgdown {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <16 15>;
            layers = <7>;
        };

        tog_layer7 {
            bindings = <&tog 7>;
            key-positions = <55 56>;
        };
    };

    macros {
        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&macro_wait_time 30>, <&kp LS(END)>;

            label = "SELECT_LINE";
        };

        zero3: zero3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0 &kp N0>;
            label = "ZERO3";
        };

        double_tilde: double_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp TILDE>;
            label = "DOUBLE_TILDE";
        };

        triple_minus: triple_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp MINUS &kp MINUS>;
            label = "TRIPLE_MINUS";
        };

        triple_grave: triple_backtick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;
            label = "TRIPLE_BACKTICK";
        };

        double_underscore: double_underscore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE &kp UNDERSCORE>;
            label = "DOUBLE_UNDERSCORE";
        };

        double_slash: double_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp SLASH>;
            label = "DOUBLE_SLASH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        normal {
            bindings = <
&kp GRAVE   &kp LC(A)          &kp LC(V)           &kp LC(C)              &kp LC(X)        &kp DELETE           &kp UP_ARROW     &kp HOME    &kp LEFT         &kp BACKSPACE           &kp RIGHT              &kp END             &kp LC(Z)
&kp ESCAPE  &kp Q              &kp W               &kp E                  &kp R            &kp T                &kp DOWN_ARROW   &kp Y       &kp U            &kp I                   &kp O                  &kp P               &kp SLASH
&kp TAB     &gui_L LEFT_GUI A  &symbol_L 1 S       &shift_L LEFT_SHIFT D  &num 2 F         &kp G                &kp LEFT_ARROW   &kp H       &nav 3 J         &shift_R RIGHT_SHIFT K  &symbol_R 1 L          &gui_R RIGHT_GUI U  &minus_caret
&ctrl_6     &kp Z              &alt_L LEFT_ALT X   &kp C                  &ctrl_L LCTRL V  &applic_mouse 5 B    &kp RIGHT_ARROW  &kp N       &ctrl_R RCTRL M  &windows_manager 4 W    &alt_R RIGHT_ALT SEMI  &kp APOSTROPHE      &kp BACKSLASH
&kp C_MUTE  &tog 2             &kp LC(LA(LS(F7)))  &kp SEMICOLON          &kp UNDER        &kp SPACE            &kp ENTER        &kp RETURN  &ctlSpace_F4     &CapsLock_F5            &lt 6 F2               &tog 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
            label = "默认层";
        };

        symbol {
            bindings = <
&none       &none            &double_tilde         &triple_grave              &none                        &none            &mmv MOVE_UP     &none        &double_underscore    &triple_minus                           &double_slash          &none              &none
&trans      &kp GRAVE        &kp LESS_THAN         &kp GREATER_THAN           &kp MINUS                    &kp PIPE         &mmv MOVE_DOWN   &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE                         &kp DOLLAR             &kp QUESTION       &trans
&trans      &kp EXCLAMATION  &kp ASTERISK          &shift_L LEFT_SHIFT SLASH  &kp EQUAL                    &kp AMPERSAND    &mmv MOVE_LEFT   &kp HASH     &kp LEFT_PARENTHESIS  &shift_R RIGHT_SHIFT RIGHT_PARENTHESIS  &kp SEMICOLON          &kp DOUBLE_QUOTES  &trans
&trans      &kp TILDE        &alt_L LEFT_ALT PLUS  &kp LEFT_BRACKET           &ctrl_L LCTRL RIGHT_BRACKET  &kp PERCENT      &mmv MOVE_RIGHT  &kp AT_SIGN  &ctrl_R RCTRL COLON   &kp COMMA                               &alt_R2 RIGHT_ALT DOT  &kp APOSTROPHE     &trans
&kp C_MUTE  &none            &none                 &trans                     &trans                       &trans           &mkp LCLK        &trans       &trans                &trans                                  &none                  &none
            >;

            display-name = "layer1";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "符号层";
        };

        num {
            bindings = <
&none   &none         &none             &none             &none   &none     &mmv MOVE_UP     &trans     &kp SLASH  &trans  &kp STAR       &trans       &none
&trans  &none         &kp LC(LEFT_ALT)  &kp LEFT_ALT      &none   &none     &mmv MOVE_DOWN   &kp MINUS  &kp N7     &kp N8  &kp N9         &zero3       &trans
&trans  &kp LEFT_WIN  &kp LEFT_SHIFT    &kp LEFT_CONTROL  &none   &none     &mmv MOVE_LEFT   &kp N0     &kp N4     &kp N5  &kp N6         &kp PERCENT  &trans
&trans  &none         &kp DOT           &kp COMMA         &none   &none     &mmv MOVE_RIGHT  &kp PLUS   &kp N1     &kp N2  &kp N3         &kp ENTER    &trans
&none   &tog 2        &none             &trans            &trans  &trans    &mkp LCLK        &trans     &trans     &trans  &kp BACKSLASH  &kp LS(X)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "数字层";
        };

        nav {
            bindings = <
&trans  &trans        &trans             &trans            &trans             &trans           &none  &trans  &trans  &trans            &trans             &trans         &trans
&trans  &select_line  &kp HOME           &kp UP_ARROW      &kp END            &kp PAGE_UP      &none  &none   &none   &kp RIGHT_ALT     &kp LC(RIGHT_ALT)  &none          &trans
&trans  &kp DELETE    &kp LEFT           &kp DOWN          &kp RIGHT          &kp PAGE_DOWN    &none  &none   &none   &kp LEFT_CONTROL  &kp LEFT_SHIFT     &kp RIGHT_WIN  &trans
&trans  &kp INS       &kp K_APPLICATION  &kp LS(LC(LEFT))  &kp LS(LC(RIGHT))  &kp LC(Z)        &none  &none   &none   &kp PAGE_DOWN     &kp PAGE_UP        &none          &trans
&none   &none         &none              &trans            &trans             &trans           &none  &trans  &trans  &trans            &none              &tog 3
            >;

            label = "方向键层";
        };

        windows_manager_Others {
            bindings = <
&bt BT_CLR_ALL     &bt BT_SEL 0     &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4    &none  &none      &none               &none   &none           &none  &none
&bt BT_CLR         &kp C_BRI_UP     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &bt BT_SEL 2    &none  &none      &none               &none   &none           &none  &none
&ext_power EP_OFF  &kp C_BRI_DN     &kp LG(N1)         &kp LG(N2)       &kp LG(N3)    &bt BT_SEL 1    &none  &none      &kp LA(LEFT_SHIFT)  &none   &kp LEFT_ALT    &none  &none
&rgb_ug RGB_EFF    &rgb_ug RGB_TOG  &kp LG(N4)         &kp LG(N5)       &kp LG(N6)    &bt BT_SEL 0    &none  &soft_off  &kp LCTRL           &none   &kp LEFT_SHIFT  &none  &none
&none              &none            &none              &trans           &trans        &trans          &none  &trans     &trans              &trans  &none           &none
            >;
        };

        applic_mouse {
            bindings = <
&none  &none  &none         &none          &none      &none    &none  &none      &none           &none           &none            &none  &none
&none  &none  &none         &none          &none      &none    &none  &mkp MB5   &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &none  &none
&none  &none  &none         &kp LA(LCTRL)  &kp LALT   &none    &none  &mkp MB4   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &none  &kp LEFT_WIN  &kp LSHFT      &kp LCTRL  &none    &none  &none      &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &none  &none
&none  &none  &none         &none          &none      &none    &none  &mkp LCLK  &mkp RCLK       &mkp MCLK       &soft_off        &none
            >;

            label = "额外功能和鼠标模拟";
        };

        Fkey-keypad {
            bindings = <
&kp ESC  &none    &kp LS(INSERT)  &kp LC(INSERT)  &none      &none        &none  &kp KP_NUMLOCK   &kp KP_DIVIDE    &kp BSPC         &kp KP_ASTERISK  &none         &none
&trans   &kp F10  &kp F9          &kp F8          &kp F7     &kp F6       &none  &kp KP_MINUS     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &zero3        &trans
&trans   &kp F5   &kp F4          &kp F3          &kp F2     &kp F1       &none  &kp KP_NUMBER_0  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PERCENT   &trans
&trans   &none    &none           &kp F12         &kp F11    &none        &none  &kp KP_PLUS      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER  &trans
&none    &none    &none           &kp LALT        &kp LSHFT  &kp LCTRL    &none  &trans           &trans           &kp PAGE_DOWN    &tog 6           &kp PG_UP
            >;

            label = "F键和小键盘";
        };

        iso {
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3      &kp N4    &kp N5       &trans  &kp N6     &kp N7     &kp N8       &kp N9     &kp N0     &kp BSPC
&kp TAB    &kp Q     &kp W     &kp E       &kp R     &kp T        &trans  &kp Y      &kp U      &kp I        &kp O      &kp P      &kp BSLH
&kp LSHFT  &kp A     &kp S     &kp D       &kp F     &kp G        &trans  &kp H      &kp J      &kp K        &kp L      &kp SEMI   &kp APOS
&kp LCTRL  &kp Z     &kp X     &kp C       &kp V     &kp B        &trans  &kp N      &kp M      &lt 6 COMMA  &kp DOT    &kp FSLH   &kp GRAVE
&trans     &kp LBKT  &kp RBKT  &kp DELETE  &kp LALT  &kp SPACE    &trans  &kp ENTER  &kp RCTRL  &kp RSHFT    &kp MINUS  &kp EQUAL
            >;

            label = "iso布局";
        };
    };
};
